<li>
   <% fullname = user.firstname + " " + user.lastname %>
   <%= link_to fullname, user %>
   <% if current_user.admin? %>
  | <%= link_to "delete", user, :method => :delete, :confirm => "You sure?",
                                :title => "Delete #{fullname}" %>
  <% end %>
</li>